<!DOCTYPE html>
<html ng-app="ToDoList">
<head >
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
    <script src="angular-local-storage.min.js"></script>
    <script src="controller.js"></script>
</head>
<body ng-controller="ToDoController">
    <ul ng-repeat="actividad in todo">
        <li>
            {{actividad.descripcion}} - 
            {{actividad.fecha | date: 'short'}} - <a style="color: red;" href="#" ng-click="removeActv(actividad)">x</a>
        </li>
    </ul>
    <form ng-submit="addActv()">
        <input type="text" ng-model="newActv.descripcion">
        <input type="datetime-local" ng-model="newActv.fecha">
        <input type="submit" value="Guardad actividad">
    </form>
    <button ng-click="clean()">Limpiar</button>
</body>
</html>